{
	"swagger": "2.0",
	"info": {
		"version": "2020-11-01",
		"title": "BillingManagementClient",
		"description": "Billing client provides access to billing resources for Azure subscriptions."
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"paths": {
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles": {
            "get": {
              "tags": [
                "BillingProfiles"
              ],
              "x-ms-examples": {
                "BillingProfilesListByBillingAccount": {
                  "$ref": "./examples/BillingProfilesListByBillingAccount.json"
                }
              },
              "operationId": "BillingProfiles_ListByBillingAccount",
              "description": "Lists the billing profiles that a user has access to. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
              "externalDocs": {
                "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
              },
              "parameters": [
                {
                  "$ref": "#/parameters/apiVersionParameter"
                },
                {
                  "$ref": "#/parameters/billingAccountNameParameter"
                },
                {
                  "name": "$expand",
                  "description": "May be used to expand the invoice sections.",
                  "in": "query",
                  "required": false,
                  "type": "string"
                }
              ],
              "responses": {
                "200": {
                  "description": "OK. The request has succeeded.",
                  "schema": {
                    "$ref": "#/definitions/BillingProfileListResult"
                  }
                },
                "default": {
                  "description": "Error response describing why the operation failed.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
                }
              },
              "x-ms-pageable": {
                "nextLinkName": "nextLink"
              }
            }
          },
          "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}": {
            "get": {
              "tags": [
                "BillingProfiles"
              ],
              "x-ms-examples": {
                "BillingProfile": {
                  "$ref": "./examples/BillingProfile.json"
                }
              },
              "operationId": "BillingProfiles_Get",
              "description": "Gets a billing profile by its ID. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
              "externalDocs": {
                "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
              },
              "parameters": [
                {
                  "$ref": "#/parameters/apiVersionParameter"
                },
                {
                  "$ref": "#/parameters/billingAccountNameParameter"
                },
                {
                  "$ref": "#/parameters/billingProfileNameParameter"
                },
                {
                  "name": "$expand",
                  "description": "May be used to expand the invoice sections.",
                  "in": "query",
                  "required": false,
                  "type": "string"
                }
              ],
              "responses": {
                "200": {
                  "description": "OK. The request has succeeded.",
                  "schema": {
                    "$ref": "#/definitions/BillingProfile"
                  }
                },
                "default": {
                  "description": "Error response describing why the operation failed.",
                  "schema": {
                    "$ref": "#/definitions/ErrorResponse"
                  }
                }
              }
            }            
          }		
	},
	"definitions": {
        "BillingProfileListResult": {
            "description": "The list of billing profiles.",
            "properties": {
              "value": {
                "description": "The list of billing profiles.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/definitions/BillingProfile"
                }
              },
              "nextLink": {
                "description": "The link (url) to the next page of results.",
                "type": "string",
                "readOnly": true
              }
            }
          },
        "BillingProfile": {
            "description": "A billing profile.",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/definitions/Resource"
              }
            ],
            "properties": {
              "properties": {
                "description": "The properties of the billing profile.",
                "x-ms-client-flatten": true,
                "$ref": "#/definitions/BillingProfileProperties"
              }
            }
          },
        "BillingProfileProperties": {
            "description": "The properties of the billing profile.",
            "properties": {
              "displayName": {
                "description": "The name of the billing profile.",
                "type": "string"
              },
              "poNumber": {
                "description": "The purchase order name that will appear on the invoices generated for the billing profile.",
                "type": "string"
              },
              "billTo": {
                "description": "Billing address.",
                "$ref": "#/definitions/AddressDetails"
              },
              "invoiceEmailOptIn": {
                "description": "Flag controlling whether the invoices for the billing profile are sent through email.",
                "type": "boolean"
              },
              "invoiceDay": {
                "description": "The day of the month when the invoice for the billing profile is generated.",
                "type": "integer",
                "readOnly": true
              },
              "currency": {
                "description": "The currency in which the charges for the billing profile are billed.",
                "type": "string",
                "readOnly": true
              },
              "enabledAzurePlans": {
                "description": "Information about the enabled azure plans.",
                "type": "array",
                "items": {
                  "$ref": "#/definitions/AzurePlan"
                }
              },
              "invoiceSections": {
                "description": "The invoice sections associated to the billing profile. By default this is not populated, unless it's specified in $expand.",
                "$ref": "#/definitions/InvoiceSectionsOnExpand"
              },
              "hasReadAccess": {
                "description": "Indicates whether user has read access to the billing profile.",
                "type": "boolean",
                "readOnly": true
              },
              "systemId": {
                "description": "The system generated unique identifier for a billing profile.",
                "type": "string",
                "readOnly": true
              },
              "status": {
                "description": "The status of the billing profile.",
                "enum": [
                  "Active",
                  "Disabled",
                  "Warned"
                ],
                "type": "string",
                "readOnly": true,
                "x-ms-enum": {
                  "name": "BillingProfileStatus",
                  "modelAsString": true
                }
              },
              "statusReasonCode": {
                "description": "Reason for the specified billing profile status.",
                "enum": [
                  "PastDue",
                  "SpendingLimitReached",
                  "SpendingLimitExpired"
                ],
                "type": "string",
                "readOnly": true,
                "x-ms-enum": {
                  "name": "StatusReasonCode",
                  "modelAsString": true
                }
              },
              "spendingLimit": {
                "description": "The billing profile spending limit.",
                "enum": [
                  "Off",
                  "On"
                ],
                "type": "string",
                "readOnly": true,
                "x-ms-enum": {
                  "name": "SpendingLimit",
                  "modelAsString": true
                }
              },
              "spendingLimitDetails": {
                "description": "The details of billing profile spending limit.",          
                "type": "array",
                "items":{
                  "$ref": "#/definitions/spendingLimitDetails"
                }
              }
            }
          },
          "spendingLimitDetails":{
            "description": "The details of spending limit policy set on billingProfile.",
            "properties": {
              "amount": {
                "description": "The initial amount for the billing profile.",
                "type": "number",
                "readOnly": true
              },
              "currency": {
                "description": "The currency in which the charges for the billing profile are billed.",
                "type": "string",
                "readOnly": true
              },
              "endDate": {
                "description": "The date when this benefit ends.",
                "type": "string",
                "format": "date-time"
              },
              "startDate": {
                "description": "The date when this benefit starts.",
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "description": "The type of spending limit.",
                "enum":[
                  "FreeAccount",
                  "Sandbox"
                ],
                "type": "string",
                "readOnly": true,
                "x-ms-enum": {
                  "name": "Type",
                  "modelAsString": true
                }          
              },
              "spendingLimitStatus": {
                "description": "The status of current spending limit.",
                "enum":[
                  "Active",
                  "Expired",
                  "LimitReached",
                  "LimitRemoved"
                ],
                "type": "string",
                "readOnly": true,
                "x-ms-enum": {
                  "name": "SpendingLimitStatus",
                  "modelAsString": true
                }          
              }
            }
        }
	}
}